body{
    background: rgb(200,0,0);
}
h1 {
    font-size: 3vw;
    text-align: center;
}
h2{
    text-align: left;
}

ul{
    text-align: left;
}
.center {
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    background: whitesmoke;
}

div.gallery {
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    
}

.button1 {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    font-size: 28px;
    cursor: pointer;
    border-radius: 75%;
    outline:none;
}

.button1:hover {
    background-color: white; 
    color: black; 
}

.button2 {
    background-color: #008CBA;
    color: white; 
    border: 2px solid #008CBA;
    font-size: 28px;
    cursor: pointer;
    border-radius: 75%;
    outline:none;

}

.button2:hover {
    background-color: white; 
    color: black;
}

.button3 {
    background-color: #f44336;
    color: white; 
    border: 2px solid #f44336;
    font-size: 28px;
    cursor: pointer;
    border-radius: 75%;
    outline:none;
}

.button3:hover {
    background-color: white; 
    color: black;
}

.button4 {
    background-color: rgb(158, 158, 158);
    color: white; 
    border: 2px solid rgb(158, 158, 158);
    font-size: 28px;
    cursor: pointer;
    outline:none;
}

.button4:hover {
    background-color: white; 
    color: black;
}

.name {
    color: #f44336;
    font-weight: bolder;
    font-size: 22pt;
}

.cards{
    color: black;
    font-weight: bold;
    font-size: 22pt;
    
}